html, body{
    background-color: #FFF47E;
    color: #3C1518;
    margin: 0;
    padding: 0;
    height: 96%;
    width: 100%;
}


main{
    background-image: url(images/Map.png);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 253, 154, 0.6);
    background-blend-mode: lighten;
}

.content{
    text-align: center;
    padding: 110px 0;
}

h1{
    font-size: 10em;
}

.hot-sauce{
    float: left;
}
