html, body{
    background-color: #FFF47E;
    color: #3C1518;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url(images/Map.png);
    background-color: rgba(255, 253, 154, 0.6);
    background-blend-mode: lighten;
}


main{
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    text-align: center;
    padding: 110px 0;
}

h1{
    font-size: 10em;
}

.fire{
    height: 50px;
    margin-left: 5px;
}

.arrow-sign{
    height: 100px;
    margin: 0;
    margin-top: 10px;
}